%h2 About me

%p
    I'm from Brazil, currently working as Test Automation Engineer, but always liked to develop and, Ruby on Rails was one of the frameworks that caught my attention.
    %br 
    I like to develop and create things. And I also like to share what I know.
    %br 
    So, as long as I have my cup of coffee and some heavy metal playing in the background, there will be code being done! \m/