%h2 Welcome!
%p
    This is a project that I'll use as my portfolio and to keep me updated in what is going on in the Ruby on Rails universe. 
    %br
    So you'll see a lot of Lorem Ipsum texts in these pages.
    %br
    I'll try to cover the most used gems and features and also, bring a few gems that I like to use personally. 
    %br
    All of this will be available in my 
    %a{ :href=>"https://github.com/dgodiegocarvalho", :role=>"button"}Github 
    profile, in my public repositories, feel free to take a look.

%p
    I appreciate you spending some time to see what I've done and I welcome any suggestion to make this even better!